.icon-home {
	background:url('icons/home.ico') no-repeat center center;
}

.icon-key {
	background:url('icons/key.ico') no-repeat center center;
}

.icon-group {
	background:url('icons/group.ico') no-repeat center center;
}

.icon-role {
	background:url('icons/role.ico') no-repeat center center;
}

.icon-book {
	background:url('icons/book.ico') no-repeat center center;
}