.logo {
	height: 40px;
	line-height: 40px;
	font-size: 28px;
	font-weight: bold;
	float: left;
	color: #000;
}

.logout {
	float: right;
	padding: 20px 15px 0 0;
	color: #000;
}

a {
	color: #000;
	text-decoration: none;
}

.dialog-button {
	padding: 5px 22px 5px 0;
}